.header{
    height: 3em;
    background-color: #006400;
    text-align: center;
    display: flex;
    cursor: pointer;
}
.menu {
    display: flex;
    list-style-type: none;
     padding-left: 3em;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: white;
    height: 100%;
  
    &__item {
      padding:0 8px;
       display: flex;
      align-items: center;
      height: 3em;
      margin: auto;
    }
  
    &__item_active  {
      color: yellow;
      position: relative;
    }
  
    &__item:hover {
      background-color: #9acd32;
    }
    &_active:hover.submenu{
        display: block;
    }
}
    .submenu {
        position: absolute;
        top: 100%;
        visibility: hidden;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #ff7f50;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        min-width: 120px;
        z-index: 1;

        &__item {
            color: #fff;
            padding: 8px;

            &:hover {
                color: #000;
            }
        }
    }

