@import 'header.scss';
* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: 3em;
  padding: 8px;
  text-transform: uppercase;
  cursor: pointer;

  &__item-text {
    padding: 8px;
    text-align: center;
  }


  &__item:hover {
    background-color: #9acd32;
    
  }
  &__item_active {
    color: yellow;
  }

.submenu {
  padding: 0;
  margin: 0;
  background-color: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 1;
  padding: 8px;
  list-style-type: none;

&__item{
    color: #fff;
    padding: 8px;
}
  &__item:hover {
    color: black;
  }
}
}