@import 'breakpoints.scss';
*{
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.square{
    width: 100px;
    height: 100px;
    background-color: #ff7f50;
    margin: 8px;

    @include for-medium-up {
        background-color: #8a2be2;
    }
    @include for-large-up{
        background-color: #a61;
    }
    @include for-large{
        background-color: #c47;
    }
    
}
