.navigation {
    background-color: #ff7f50;
    min-height: 200px;
    display: flex;
    flex: 1;
  }
  .products-list {
    background-color: #006400;
    min-height: 200px;
    display: flex;
    flex: 1;
  }
  .news {
    background-color: #0ff;
    min-height: 200px;
    display: flex;
    flex: 1;
  }